<nav class="main-nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a [routerLink]="[options[0]]" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="[options[1]]" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="[options[2]]" routerLinkActive="active">Registro</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="[options[3]]" routerLinkActive="active">Reservas</a>
        </li>
    </ul>
</nav>