:root {
    --color-primary: #8AA29E;    /* Color principal oscuro */
    --color-secondary: #FAFAFA;   
    --color-accent: #DB5461;     /* Color de acento */
    --color-light: #E3F2FD;      /* Color claro */
    --color-dark: #686963;;       /* Color oscuro */
  }
  
  /* Estilos base globales */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Añade un margen superior para compensar el header fijo */
  main {
    margin-top: 80px; /* Ajusta este valor según la altura de tu header */
  }