:root {
    --color-primary: #2C3E50;    /* Color principal oscuro */
    --color-secondary: #3498DB;   /* Color secundario azul */
    --color-accent: #E74C3C;     /* Color de acento */
    --color-light: #ECF0F1;      /* Color claro */
    --color-dark: #2C3E50;       /* Color oscuro */
  }
  
  /* Estilos base globales */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Añade un margen superior para compensar el header fijo */
  main {
    margin-top: 80px; /* Ajusta este valor según la altura de tu header */
  }